language: ruby

before_script:
  # install the fossa cli tool
  - "curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | sudo bash"

script:
  # your build scripts before running `fossa`
  - crystal spec

  # NOTE: before running `fossa` make sure to set your FOSSA_API_KEY
  # environment variable in Travis
  - fossa init
  - fossa analyze

after_success:
  # mark as a failure if the open source license check fails
  - fossa test
